{% extends "base.html" %}
{% block content %}
    <br>
    <br>
    <h1>Ukentlige treninger</h1>
    <br>
    <div class="jumbotron">
        <h5>Onsdager 20:00 – 21:30: Swing (Videregående)</h5>
        <br>
        <h6>Sted:	Idrettsbygget Gløshaugen, Aerobicsalen</h6>
        <br>
        <h6>Inngang:	Gratis (krever SiT og NTNUI medlemskap)</h6>
        <br>
        <p>Dette kurset er beregnet for de som har danset swing i minst ett år (to semester) hos oss.
        Kurset har fokus på avanserte turer og teknikk, med litt annet krydder, som f.eks.
        gutt med to jenter og hopp/løft. Om du er usikker på hvilket nivå du bør være på,
        eller lurer på noe annet: ikke nøl med å ta kontakt med en av instruktørene 🙂
        Vi anbefaler å ha vært gjennom minst to semester med nybegynnerkurs før man blir med
        på videregåendepartiet, dette er viktig for å opprettholde nivået på dette kurset for
        alle deltagere, siden vi dessverre kun har kurs på to nivå.</p>
    </div>

    <div class="jumbotron">
        <h5>Søndager 18:30 – 20:00: Swing (Nybegynner)</h5>
        <br>
        <h6>Sted:	Idrettsbygget Gløshaugen, Aerobicsalen og Kjellersalen</h6>
        <br>
        <h6>Inngang:	Gratis (krever SiT og NTNUI medlemskap)</h6>
        <br>
        <p>Nybegynnerkurset i swing passer for de som aldri har danset før og de som har danset mindre enn 1-2 år,
        men er også veldig lærerikt for alle andre. Vi starter med 1.5 timers instruksjon, og så er det fridans resten av kvelden.
        Det instrueres i 4-trinns-swing (den mest vanlige swing-typen i Norge). Vi holder helt basic introkurs de tre
        første gangene i hvert semester, etter disse er høst- og vårsemesterne forskjellige, slik at man lærer nye ting gjennom
        et helt år. Det vil si at hvis man kan prøve seg på videregående-partiet hvis føler man har kontroll etter to semester.</p>
    </div>

    <div class="jumbotron">
        <h5>Onsdager 19.00 – 21.00: Folkedans (Alle)</h5>
        <br>
        <h6>Sted: BUL-salen, Dronningens gate 23</h6>
        <br>
        <h6>Inngang:	Gratis (krever SiT og NTNUI medlemskap)</h6>
        <br>
        <p>Har du lyst til å lære deg norsk folkedans? Eller har du danset før, men savner noen å danse med? Alle er velkommne, uansett nivå 🙂
        Vi har hovedfokus på reinlender, vals, pols og halling, men i løpet av
        semesteret kan vi i tillegg komme innom springar, polka, tango og mye annet artig!</p>

        <p>Vi legger vekt på å lære bort det å føre og å følge, som er essensielt i all pardans.
        Folkedanstreningene kan derfor også være et nyttig supplement for de som driver med andre
        danser. Vi reiser også gjerne sammen på dansekvelder i Trondheimsområdet og arrangerer
        felles turer til Rørosmartnan og Hilmarfestivalen..Kalender</p>
    </div>

    <div class="jumbotron">
        <h5>Søndager 20.00 – 22.00: Fridans Swing (Alle)</h5>
        <br>
        <h6>Sted:	Idrettsbygget Gløshaugen, Aerobicsalen	</h6>
        <br>
        <h6>Inngang:	Gratis (krever SiT og NTNUI medlemskap)	</h6>
        <br>
        <p>Fridans (man danser fritt med hvem man vil) for alle som vil være med. Kom og dans,
        og øv på det du lærte på forrige nybegynner- eller videregåendetrening!</p>
    </div>

{% endblock %}
