{% extends "base.html" %}

{% block content %}
    <br>
    <br>
    <h1>Information in English</h1>
    <br>
    <p>Welcome to NTNUI Swing and Folk dance! Here you will find information about our courses in Norwegian swing and folk dance.</p>
    <br>
    <h4>Course information:</h4>
    <p>
        Beginners’ courses start up on the 28th of January, and will be held every sunday until the end of the semester.
        <br>
        <h6>Swing: 06:30 PM, in the aerobic hall at Gløshaugen treningssenter.</h6>
        <br>
        Advanced courses in swing will start up on the 31st of January, and  and will be held every wedensday until the end of the semester. This course is for dancers who have danced Norwegian swing for more that a year.
        <br>
        <br>
        <h6>Swing: 08:00 PM, in the basement hall at Gløshaugen treningssenter.</h6>
        <br>
        Courses in Folk Dance will be held in BUL Nidaros’ facilities in Søndre gate 22B downtown every other Wednesday. All folk dance classes will be announced on our Facebook page.

        In addition, every sunday there is social dancing in the Armfeldt hall at Gløshaugen treningssenter from 08:15 PM to 10:00 PM.
    </p>



{% endblock %}
