{% extends "base.html" %}

{% block content %}

    <div class="">
        <br>
        <br>
        <h1>Eksterne kurs</h1>
        <br>
        <p>
            Vi får mange forespørsler om å holde swing- eller folkedanskurs for linjeforeninger,
            andre studentorganisasjoner og andre private aktører, og det gjør vi gjerne.
            Vi stiller opp med dyktige instruktører og holder kurs i både swing og folkedans.
        </p>

        <p>
            Vi har noen kursalternativer som vi anbefaler:

            Kurs under 5 timer: 800kr/timen.
            5-timerskurs over 2 dager, med pris 3500 kr totalt.
            Prisene gjelder for 2 instruktører og en grense på 80 deltakere. Overskrides deltakergrensen må man betale ekstra.

            Lokale og musikkanlegg må ordnes av bestillende.

            Det er også mulig å få andre alternativ på forespørsel.

            Det er bare å sende mail til styret@swing.org.ntnu.no med forespørsler om kurs.
        </p>
    </div>


{% endblock %}
